
.title {
  max-height: calc(100vh/10);
  max-width: calc(100vw/15);
  cursor: move;
  position: absolute;
  top: calc(25vh*0.9);
  font-weight: bold;
}

.image {
  max-height: calc(100vh/10);
  max-width: calc(100vw/10);
  cursor: move;
  position: absolute;
  top: calc(50vh*0.9);
}

.quote {
  max-height: calc(100vh/10);
  max-width: calc(100vw/11);
  cursor: move;
  position: absolute;
  top: calc(75vh*0.9);
  font-weight: lighter;
}

.name {
  text-align: center;
  margin: 1em 35% 0;
  width: 30%;
}

.name > input {
  border-width: 0px;
  background-color: transparent;
  outline: none;
  text-align: center;
  font-weight: bold;
}

.name > ::placeholder {
  text-align: center;
}
